@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-poppins;
}
@layer components {
	.title1-text {
		@apply font-poppins font-bold text-h1FontSize leading-none;
	}
	.title2-text {
		@apply font-poppins font-bold text-h2FontSize;
	}
	.title3-text {
		@apply font-poppins font-bold text-2xl;
	}
	.subtitle-text {
		@apply font-poppins font-medium text-2xl;
	}
	.subtitle-regular-text {
		@apply font-poppins font-normal text-2xl leading-9;
	}
	.body-text {
		@apply font-poppins font-normal text-base leading-6;
	}
	.boldBody-text {
		@apply font-poppins font-bold text-base leading-6;
	}
	.small-text {
		@apply font-poppins font-normal text-xs;
	}
	.input-style {
		@apply bg-cmp-accent h-14 px-8 py-4 rounded-lg;
	}
}

.outline-text {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #3e9b7b;
	/* line-height: 1; */
}

.form-error {
	color: red;
	padding-top: 0.25rem;
}

.no-style {
	-webkit-appearance: none;
}
